

{% load staticfiles %}
<html>

<head>
    <title>Django</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>
<body>
    <h1><a href="/">blog</a></h1>
    <hr>
    {{ posts }}
    <hr>
    {% for post in posts %}
        {{ posts }}
    {% endfor %}
    <hr>
    {% for post in posts %}
    <div>
    <p>published: {{ post.published_date }}</p>
    <h1><a href="">{{ post.title }}</a></h1>
    <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}
</body>
</html>